body {
  background: #00c3ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffff1c,
    #00c3ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffff1c,
    #00c3ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#row {
  text-align: center;
}

.success-square {
  height: 200px;
}

.selected-square {
  height: 200px;
}

.square {
  height: 200px;
  background-color: rgb(47, 79, 79);
}

.col-sm {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
